.button {
    color: white; 
    background-color: #424242;
    font-weight: bold;
    border-radius: 8px;
    border: 2px solid black; /* <-- Borde blanco y de 2px */
    cursor: pointer;
    transition: border-color 0.25s;
    height: 40px;
    width: 250px;
    align-self: center;
    font-family: 'Dutch801 Rm BT';
    font-size: 20px;
}