.leftPanel{
    background-color: "#424242";
    display: flex;
    flex: 1;
    flex-direction: column;
}
.containerLogos{
    display: flex;
    flex-wrap: wrap;
    padding: 1cap;
    padding-inline: 10px;
}
.uptcMainLogo{
    height: 176px;
}
.icono{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: white;
    align-content: center;
    
}
.icono + .icono{
    margin-left: 15%;
}
.icono img {
    width: 90%;
    height: 90%;
    object-fit: contain; /* Ajusta dentro del círculo sin recortarla */
  }