:root {
  color-scheme: light dark;
  background-color: #424242;

}
html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden; /* Muy importante: nunca permitir scroll horizontal */
  background-color: #424242;
  display: flex;
  flex-direction: column;
}

.WelcomePage {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 80px; /* O lo que necesites para que no quede pegado al TopBar */
  box-sizing: border-box;
}


